<!doctype html>
<head>
    <title>Modify a Person's Associations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mx-auto" style="width: 50%;">
        <h1 class="mx-auto">Associate a Person with a Inst/Dept/Lab</h1>
        <a href="{{ url_for('metab_admin.main_menu') }}">Back to Home</a>

        <div id="messages">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Search Display Name</label>
                <input id=searchInput class="form-control" list=displaynames name=displayname>
                <datalist id=displaynames>
                    {% for name in dispNameList %}
                        <option value="{{name}}">
                    {% endfor %}
                </datalist>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input readonly id=name class="form-control" type=text name=name>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input readonly id=email class="form-control" type=text name=email>
            </div>

            <input hidden readonly id=id type=text name=id>

            <a target="_blank" href="{{ url_for('metab_admin.org_tree') }}">View the Organization Tree For IDs</a>

            <div class="form-group">
                <label>Institute</label>
                <input class="form-control" list="institutes-dl" name="institute" id="institutes">
                <datalist id="institutes-dl">
                {% for orgId, org in organizations.items() %}
                    {% if org['orgType'] == 'institute' %}
                        <option value="{{org['orgName']}} | {{orgId}}">
                    {% endif %}
                {% endfor %}
                </datalist>
            </div>

            <div class="form-group">
                <label>Department</label>
                <input class="form-control" list="departments-dl" name=department id="departments">
                <datalist id="departments-dl">
                </datalist>
            </div>

            <div class="form-group">
                <label>Labs</label>
                <input class="form-control" list="labs-dl" name=lab id="labs">
                <datalist id="labs-dl">
                </datalist>
            </div>

            <button class="btn btn-primary" type="submit" id="add-btn">Add New Association</button>

            <div class="form-group">
                <label>Current Associations (childen will be removed if parent is removed)</label>
                <ul class="org-tree" id="org-tree-root">
                </ul>
            </div>
        </form>
    </div>
    <script>
        let associationData = {{ assocMap|tojson|safe }};
        const allOrganizations = {{ organizations|tojson|safe }};
    </script>
    <script src="{{url_for('static', filename='associateperson.js')}}"></script>
</body>
